h1 {
  color: #d90429;
  background-color: #8d99ae;
  text-align: center;
}
p {
  color: #2b2d42;
  background-color: #edf2f4;
  padding: 15px;
  border: 10px solid #ef233c;
  /* margin: 100px; */
  /* margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
   */
  /* margin: 20px 40px 20px 40px; */
  /* margin: 20px 40px; */
  /* The all means the same */
  /* to center the margin:  */
  margin: auto 50px;
  /* to center the text  */
  text-align: center;
  
}
